<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ChatWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddChat</servlet-name>
    <servlet-class>servlet.AddChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddChat</servlet-name>
    <url-pattern>/addChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserPage</servlet-name>
    <servlet-class>servlet.UserPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPage</servlet-name>
    <url-pattern>/userPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>servlet.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/deleteAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteChat</servlet-name>
    <servlet-class>servlet.DeleteChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteChat</servlet-name>
    <url-pattern>/deleteChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatPage</servlet-name>
    <servlet-class>servlet.ChatPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatPage</servlet-name>
    <url-pattern>/chatPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserChat</servlet-name>
    <servlet-class>servlet.AddUserChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserChat</servlet-name>
    <url-pattern>/addUserChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeaveChat</servlet-name>
    <servlet-class>servlet.LeaveChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveChat</servlet-name>
    <url-pattern>/leaveChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Status</servlet-name>
    <servlet-class>servlet.Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Status</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>servlet.SendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/sendMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KickUser</servlet-name>
    <servlet-class>servlet.KickUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KickUser</servlet-name>
    <url-pattern>/kickUser</url-pattern>
  </servlet-mapping>
</web-app>